h3{
    color:rgb(150,75,49);
    color:#64964b;
    background-color: rgba(255,0,0,.2);
}

/*fonts*/

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 124%;
}